*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: 75px;
    background: rgb(5, 109, 157);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

nav h1{
    font-size: 26px;
    font-weight: 400;
}

.input-box input{
    padding: 5px 20px;
    border: 0;
    outline: 0;
}

.input-box button{
    padding: 5px 10px;
    background: rgb(17, 189, 86);
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.real-hero{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hero{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.box{
    text-decoration: none;
    color: inherit;
}

.box img{
    width: 90%;
    height: 45%;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.box h3{
    width: 90%;
    height: 65px;
    /* background-color: coral; */
    margin-right: 20px;
    margin-left: 22px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}


.box p{
    width: 90%;
    height: 100px;
    /* background-color: coral; */
    margin-left: 10px;
    font-size: 14px;
    overflow: hidden;
}



